/.gradle/*
/build/*
/eclipse/*
/out/*
/asm/*
/bin/*
/libs/*
/run/*
/run
*.psd
*.iml
*.ipr
*.iws
*.psd
*.idea/*
*.db
*.pdn

*.classpath
*.project
/.settings/*
/minetweaker.log
/options.txt
/usernamecache.json
